<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>GrafikApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>sanarocha.GrafikApp</string>
	<key>CFBundleName</key>
	<string>GrafikApp</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.educational-games</string>
	<key>NSCameraUsageDescription</key>
	<string>O aplicativo precisa acessar a câmera para exibir realidade aumentada.</string>
	<key>UIAppFonts</key>
	<array>
		<string>Baloo2-Regular.ttf</string>
		<string>Baloo2-Bold.ttf</string>
		<string>Baloo2-SemiBold.ttf</string>
		<string>Baloo2-Medium.ttf</string>
		<string>Baloo2-ExtraBold.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
</dict>
</plist>
